/* Schriftart */
@font-face {
    font-family: 'raleway';
    src: url(./assets/fonts/Raleway-VariableFont_wght.ttf);
}

/* Allgemein */
html {
    background-color: #192453;
    scrollbar-color: #FDCB04 transparent;
}

body {
    font-family: 'raleway';
    font-size: 18px;
    font-weight: 400;
    min-height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h1 {
    font-size: 54px;
    font-weight: 700;
}

h2 {
    font-size: 32px;
    font-weight: 600;
}

h3 {
    font-size: 24px;
    font-weight: 600;
}

input {
    font-size: 24px;
}

button {
    font-size: 20px;
}

a {
    color: #FDCB04;
    opacity: 0.7;
    transition: all 125ms ease-in-out;
}

a:hover {
    text-decoration: underline;
}

.content_max-width {
    padding: 0 144px;
    width: 1440px;
    max-width: 1440px;
    display: flex;
}

/* Header */
.header {
    padding: 32px 0;
    background-color: #192453;
    display: flex;
    justify-content: center;
    box-shadow: 0 5px 10px #192453;
    z-index: 1;
}

.headerPosition {
    justify-content: space-between;
    align-items: center;
}

.pokemonLogo {
    display: flex;
    align-items: center;
    gap: 24px;
    opacity: 1;
}

.pokemonLogo:hover {
    text-decoration: none;
}

.headerLogo {
    height: 64px;
}

.headlineLogo {
    color: #FDCB04;
    text-shadow:
    -4px -4px 0 #3167a7,
    4px -4px 0 #3167a7,
    -4px  4px 0 #3167a7,
    4px  4px 0 #3167a7,
    0    0    0 #3167a7;
}

.labelSearch {
    width: 256px;
    padding: 6px;
    display: flex;
    align-items: center;
    gap: 4px;
    border: 5px solid #3167a7;
    border-radius: 48px;
    background-color: #eee;
    overflow: hidden;
    transition: all 125ms;
}

.labelSearch:hover {
    scale: 1.05;
}

.iconSearch {
    height: 32px;
}

.inputSearch {
    width: 200px;
    border: none;
    background-color: #eee;
    outline: none;
}


/* Main */
.main {
    padding: 32px 0;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.mainContent_max-width {
    align-items: center;
    flex-direction: column;
    gap: 32px;
}

.pokemonArea {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
}

.pokemon {
    width: 256px;
    height: 256px;
    padding: 16px 16px 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 16px;
    border: 3px solid #3167a7;
    border-radius: 16px;
    background-color: lightgreen;
    box-shadow: 0 0 20px rgba(25, 36, 83, 0.5);
    cursor: pointer;
    transition: all 125ms;
}

.pokemon:hover {
    scale: 1.05;
}

.pokemon:hover .pokeImg{
    animation: pokeAnimation 1.5s ease-in-out;
}

.pokeId {
    display: flex;
    justify-content: flex-end;
    opacity: 0.5;
    text-shadow: 0 0 5px rgba(25, 36, 83, 0.3);
}

.pokeName {
    display: flex;
    justify-content: flex-start;
    text-shadow: 0 0 5px rgba(25, 36, 83, 0.3);
}

.pokeTypeImg {
    display: flex;
    justify-content: space-between;
}

.pokeType {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
}

.pokeTypeBox {
    padding: 8px;
    display: flex;
    justify-content: center;
    border-radius: 24px;
    background-color: rgba(0, 128, 0, 0.1);
    box-shadow: 0 0 10px rgba(25, 36, 83, 0.3);
}

.pokeImg {
    width: 124px;
    height: 124px;
}

.normal {
    background-color: #CFCFC3;
}

.fighting {
    background-color: #CF887C;
}

.flying {
    background-color: #B5D9FF;
}

.poison {
    background-color: #B486DC;
}

.ground {
    background-color: #C09D74;
}

.rock {
    background-color: #CFC393;
}

.bug {
    background-color: #B3D369;
}

.electric {
    background-color: #997B9A;
}

.steel {
    background-color: #C3C3CF;
}

.fire {
    background-color: #FF7A60;
}

.water {
    background-color: #6BB9EC;
}

.grass {
    background-color: #91D18B;
}

.electric {
    background-color: #FFE64C;
}

.psychic {
    background-color: #FF91A6;
}

.ice {
    background-color: #9DDDD2;
}

.dragon {
    background-color: #889AD1;
}

.dark {
    background-color: #837C7C;
}

.fairy {
    background-color: #F1B0EE;
}

.loadMorePokemon {
    padding: 12px 24px;
    border: none;
    border-radius: 24px;
    color: #FDCB04;
    background-color: #192453;
    box-shadow: 0 0 10px rgba(25, 36, 83, 0.5);
    transition: all 125ms;
}

.loadMorePokemon:hover {
    cursor: pointer;
    scale: 1.05;
}

.pokemonBig.open {
    width: 60%;
    height: 70vh;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 3px solid #3167a7;
    border-radius: 24px;
    color: white;
    box-shadow: 0 0 20px rgba(25, 36, 83, 0.5);
    animation: pokemonBig_keyframe-image 0.5s ease-in-out;
    transition: all 125ms;
}

dialog::backdrop {
    border: none;
    opacity: 0;
    background-color: black;
    transition: all 1s ease-in;
}

dialog.open::backdrop {
    opacity: 0.5;
    transition: all 125ms ease-in;
}

.pokemonBigHeader {
    width: 100%;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pokemonPresentation {
    width: 100%;
    height: 30%;
    padding: 0 16px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}

.pokeBigType {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 16px;
}

.pokeImgBig {
    width: 256px;
    height: 256px;
    margin-top: -64px;
    margin-right: -64px;
}

.pokemonInfo {
    width: 100%;
    height: 100%;
    padding:  32px 16px 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    border-radius: 24px;
    color: #192453;
    background-color: white;
    box-shadow: 0 0 20px rgba(25, 36, 83, 0.5);
    z-index: 0;
}

.pokemonNav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

.pokemonNavActive {
    scale: 1.05;
    border-bottom: 3px solid #192453;
}

.pokemonHeaderInfo {
    transition: all 125ms;
}

.pokemonHeaderInfo:hover {
    scale: 1.05;
    cursor: pointer;
}

.pokemonStats {
    width: 100%;
    height: 100%;
    padding: 0 120px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.pokemonStats p {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.statsList {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

/* Footer */
.footer {
    padding: 24px 0;
    background-color: #192453;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 -5px 10px #192453;
}

.footerContent_max-width {
    display: flex;
    align-items: center;
    gap: 104px;
}

.copyright {
    display: flex;
    align-items: center;
    gap: 8px;
}

.footerIcon {
    height: 32px;
    fill: #FDCB04;
}

/* Impressum */
.mainImpressum {
    align-items: normal;
}

.impressumContent_max-width {
    flex-direction: column;
    align-items: self-start;
    justify-content: start;
}

.mainImpressum_section {
    padding-top: 32px;
}

.mainImpressum-header {
    padding: 24px 0 8px;
}

.mainImpressum-text {
    padding: 8px 0;
}

.mainImpressum_datenschutz {
    padding: 8px 0 32px;
}

.mainImpressum-link:hover {
    text-decoration: underline;
    text-decoration-thickness: none;
    text-underline-position: none;
    text-underline-offset: none;
}

@keyframes pokeAnimation {
    0% {
        /* transform: rotate(360deg) translateY(0); */
        transform: rotate(0deg) translateY(0);
    }

    20% {
        transform: rotate(5deg) translateY(-5px);
    }

    40% {
        transform: rotate(-5deg) translateY(5px);
    }

    60% {
        transform: rotate(5deg) translateY(-5px);
        scale: 1.2;
    }

    80% {
        transform: rotate(-5deg) translateY(5px);
    }
    
    100% {
        transform: rotate(0deg) translateY(0);
    }
}

@keyframes pokemonBig_keyframe-image {
    0% {
        scale: 0;
    }
    100% {
        scale: 1;
    }
}